html, body{
  min-height: 100%;
}

body {
	background-color: #111111;
    position: relative;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}

#canvas{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

a {
	width: 100px;
	display: inline-block;
}

.char-img {
    display: none;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

a:hover{
	margin: -78.5px -25px;
	width: 150px;
	position: relative;
	z-index: 999;
    -webkit-box-shadow: 25px 25px 80px 0 #1C1C1C;
    box-shadow: 25px 25px 80px 0 #1C1C1C;
}

.card-selected{
    margin: -78.5px -25px;
    width: 150px;
    position: relative;
    z-index: 999;
    -webkit-box-shadow: 0px 0px 25px 5px rgba(255, 255, 190, .75);
    -moz-box-shadow: 0px 0px 25px 5px rgba(255, 255, 190, .75);
    box-shadow: 0px 0px 25px 5px rgba(255, 255, 190, .75);
}

.card-matched{
    margin: -78.5px -25px;
    width: 150px;
    position: relative;
    z-index: 998;
    -webkit-box-shadow: 25px 25px 80px 0 #1C1C1C;
    box-shadow: 25px 25px 80px 0 #1C1C1C;
}

.img-thumbnail {
	width: 100%;
	position: relative;
}

.characters {
	margin: 100px;
}

.character-card { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.character-name { 
   position: absolute; 
   bottom: 0; 
   left: 0; 
   width: 100%; 
   color: #ffffff;
   text-align: center;
   background-color: rgba(0,0,0,0.7);
   display: none;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}